<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BackOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <BackOffice.Properties.Settings>
      <setting name="DBServer" serializeAs="String">
        <value>localhost\sqlexpress</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>Dpark2</value>
      </setting>
      <setting name="DBUsername" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>12341234</value>
      </setting>
      <setting name="queryTranID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="queryTranTicketNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="queryPlateNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="queryTranType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="queryTranChkIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="queryTranChkOut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="querySysUserIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="querySysUserOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="querySysGateIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="querySysGateOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="queryProfileName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="queryTranComment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserNameRemember" serializeAs="String">
        <value>False</value>
      </setting>
    </BackOffice.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <connectionStrings>
    <add name="Dpark3Entities" connectionString="metadata=res://*/dpark2.csdl|res://*/dpark2.ssdl|res://*/dpark2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=Dpark2;persist security info=True;user id=sa;password=12341234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dpark3Entities1" connectionString="metadata=res://*/dpark2.csdl|res://*/dpark2.ssdl|res://*/dpark2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=Dpark2;persist security info=True;user id=sa;password=12341234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dpark3Entities" connectionString="metadata=res://*/Dpark3.csdl|res://*/Dpark3.ssdl|res://*/Dpark3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIYA-DLS-LPT\SQLEXPRESS;initial catalog=Dpark3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>